.circle-img {
    width: 140px; /* Adjust size as needed */
    height: 140px; /* Adjust size as needed */
    overflow: hidden;
    border-radius: 50%; /* Creates the circular shape */
}

.circle-img img {
    width: 100%;
    height: 100%; /* Ensures the image fills the container */
    object-fit: cover; /* Ensures the image covers the entire container */
}
