
<!-- <button type="button" class="btn btn-block" (click)="goToBack()">Back</button><br> -->
<!-- <button type="button" class="btn btn-sm btn-outline-primary"(click)="prevTab(tabGroup)">
   <span>
    <i class="bi bi-chevron-left"></i>

   </span>
    Previous</button>
<button type="button" class="btn btn-sm btn-outline-primary" (click)="nextTab(tabGroup)" style="float: right;">
    Next
    <span>

        <i class="bi bi-chevron-right"></i>
    </span>
</button> -->
<!-- <mat-tab-group #tabGroup>
    <mat-tab label="First"> -->
        <app-organizations></app-organizations>
         <!-- </mat-tab> -->
    <!-- <mat-tab label="Second"><app-organization-request></app-organization-request> </mat-tab> -->
    <!-- <mat-tab label="Third"> Content 3 </mat-tab> -->
  <!-- </mat-tab-group> -->
